Brotli
Mako
PyGithub
PyJWT
PyNaCl
scipy
appdirs
bleach
cmake
configobj
contourpy
cycler
fonttools
jsonpatch
kiwisolver
lark
netaddr
netifaces
ninja
oauthlib
opencv-python
pillow
pydot
scikit-build
tqdm
transforms3d
tzlocal
vcstool
numpy<2
pyserial
transforms3d
pyrealsense2
colcon-common-extensions
